{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="form-section">

        <h2>Modify Discounts</h2>

        <h3>Existing Discounts</h3>
        <ul>
        {% for discount in discounts %}
            <li>{{ discount }}</li> 
        {% endfor %}
        </ul>

        <h3>Add New Discount</h3>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ discount_form.hidden_tag() }}

            {% for field in discount_form if field.name != 'csrf_token' and field.name != 'submit' %}
            <div class="form-group">
                {{ field.label(class="form-control-label") }}
                {{ field(class="form-control form-control-lg") }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="error">[{{ error }}]</span>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <div class="form-group">
                {{ discount_form.submit(class="btn") }}
            </div>
        </form>

        <h3>Remove Discount</h3>
        <form method="POST" action="">
            <input type="hidden" name="form_id" value="form1">
            <input type="text" name="discount" placeholder="Discount ID">
            <br>
            <br>
            <input type="submit" value="Delete" class="btn">
        </form>

    </div>

    <div class="form-section">
    <h2>Modify Events</h2>

    <h3>Existing Events</h3>
        <ul>
        {% for event in events %}
            <li>{{ event }}</li> 
        {% endfor %}
        </ul>
    
    <h3>Add New Event</h3>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ event_form.hidden_tag() }}

        {% for field in event_form if field.name != 'csrf_token' and field.name != 'submit' %}
        <div class="form-group">
            {{ field.label(class="form-control-label") }}
            {{ field(class="form-control form-control-lg") }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group">
            {{ event_form.submit(class="btn") }}
        </div>
    </form>


    <h3>Remove Event</h3>
    <form method="POST" action="">
        <input type="hidden" name="form_id" value="form2">
        <input type="text" name="event" placeholder="Event ID">
        <br>
        <br>
        <input type="submit" value="Delete" class="btn">
    </form>

</div>
</div>
{% endblock content %}