{% extends "new_base.html" %}
{% block content %}
<style>
    body {
        font-family: BPG;
        background-color: #f1f1f1;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-button {
        padding: 15px 30px;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        background: linear-gradient(145deg, #28a745, #218838);
        border: none;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 30px auto;
    }

    .custom-button:hover {
        background: linear-gradient(145deg, #218838, #28a745);
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .custom-button:active {
        transform: translateY(0);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .groups-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .group {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        overflow: hidden;
    }

    .group img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.7;
    }

    .group-content {
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
    }

    .group:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .group-name {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
    }

    .group-description {
        margin-bottom: 10px;
        color: #666;
        font-size: 16px;
    }

    .group-category, .group-score, .group-members {
        font-style: italic;
        margin-bottom: 5px;
        color: #999;
        font-size: 14px;
    }

    .group:first-child {
        grid-column: span 2;
    }

    @media (max-width: 767px) {
        .container {
            padding: 10px;
        }

        .custom-button {
            padding: 10px 20px;
            font-size: 16px;
        }

        .group {
            padding: 15px;
        }

        .group-name {
            font-size: 20px;
        }

        .group-description, .group-category, .group-members, .group-score {
            font-size: 14px;
        }

        .group:first-child {
            grid-column: span 1;
        }
    }

    .form-section {
        margin-bottom: 20px;
    }

    .form-section select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .form-section button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-section button:hover {
        background-color: #0056b3;
    }

    .button {
            padding: 10px 20px;
            margin: 5px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #0056b3;
    }

    .button.active {
        background-color: #0056b3;
    }
</style>

{% if not current_user.in_group %}
<a href="https://docs.google.com/forms/d/1dcCbT2LzL4p533jfhbJaCCRTSD3u3C-3EQLn4eD1ugo/edit" target="_blank" class="custom-button">შექმენი შენი სამუშაო გუნდი</a>
{% else %}
<a href="" class="custom-button" style="background: #dc3545;" onclick="alert('შენ უკვე მუშაობ სამუშაო გუნდში')">შექმენი შენი სამუშაო გუნდი</a>
{% endif %}

<div>
    <div class="form-section">
        <form method="POST">
            <button name="category" value="ყველა" type="submit" class="button {% if request.form.get('category') == 'ყველა' %}active{% endif %}">ყველა</button>
            <button name="category" value="ტექნოლოგიები & ინოვაციები" type="submit" class="button {% if request.form.get('category') == 'ტექნოლოგიები & ინოვაციები' %}active{% endif %}">ტექნოლოგიები & ინოვაციები</button>
            <button name="category" value="არაფორმალური განათლება" type="submit" class="button {% if request.form.get('category') == 'არაფორმალური განათლება' %}active{% endif %}">არაფორმალური განათლება</button>
            <button name="category" value="მარკეტინგი" type="submit" class="button {% if request.form.get('category') == 'მარკეტინგი' %}active{% endif %}">მარკეტინგი</button>
            <button name="category" value="სპორტი" type="submit" class="button {% if request.form.get('category') == 'სპორტი' %}active{% endif %}">სპორტი</button>
        </form>
    </div>

    <p style="color:#000000cb"><strong><span style="font-size: larger;">{{ groups|length }}</span></strong> გუნდი</p>

    <div class="groups-grid">
        {% for group in groups %}
        <a href="{{ url_for('groups.group_page', id=group.id) }}" class="group-link">
            {% if group.image_file != 'default.png' %}
                <div class="group">
                    <img src="{{ url_for('static', filename='imgs/team_pics/' + group.image_file) }}" alt="{{ group.name }}">
                    <div class="group-content">
                        <div class="group-name">{{ group.name }}</div>
                        <div class="group-category">{{ group.category }}</div>
                        <div class="group-score">Score: {{ group.score }}</div>
                        <div class="group-members">Members: {{ group.members|length }}/5</div>
                    </div>
                </div>
            {% else %}
                <div class="group">
                    <div class="group-name">{{ group.name }}</div>
                    <div class="group-category">{{ group.category }}</div>
                    <div class="group-score">Score: {{ group.score }}</div>
                    <div class="group-members">Members: {{ group.members|length }}</div>
                </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block search %}
<form action="" method="POST" class="search-form">
    <input type="text" name="query" placeholder="მოძებნე ადამიანები & გუნდები..." id="search_input" class="search-input">
    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
</form>
<style>
    .search-form {
        display: flex;
        width: 100%;
        max-width: 600px;
    }

    .search-input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
    }

    .search-button {
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .search-button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
</style>
{% endblock search %}