{% extends "new_base.html" %}
{% block content %}
<style>
    body {
        background-color: #f1f1f1;
    }
    .account-heading {
        font-size: 2rem;
        font-weight: bold;
    }

    .text-muted {
        color: #6c757d !important;
    }

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .border-bottom {
        border-bottom: 2px solid #e9ecef !important;
    }

    .fa-facebook-f {
        font-size: 1.5rem;
        color: #3b5998;
        margin-top: 1rem;
    }

    @media (max-width: 767px){
        body{
            text-align: center;
        }
    }
</style>
<div class="mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='imgs/profile_pics/' + user.image_file) }}" alt="Profile Picture" style="width: 200px; height: 200px;">
            <a href="{{ user.facebook_link }}" target="_blank" class="d-block"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <div class="col-md-8">
            <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
            <p class="text-muted" style="font-size: smaller;">@{{ user.nickname }}</p>
            <p class="text-muted">🎫 ID - {{ user.unique_id }}</p>
            <p class="text-muted">🎯 პერსონალური ქულა - {{ user.score }}</p>
            
            <hr>
            
            <h4 class="border-bottom pb-2">გუნდის ინფორმაცია</h4>
            {% if user.in_group %}
                <a href="{{ url_for('groups.group_page', id=user.group_id) }}" class="text-muted">
                    <p>🤝 გუნდი - '{{ user.group.name}}'</p>
                </a>
                <p class="text-muted">🎖️ წოდება - {{ user.rank }}</p>
                <p class="text-muted">🎯 გუნდის ქულა - {{ user.group.score }}</p>
            {% else %}
                <p class="text-muted">ჯერჯერობით არ არის გუნდში</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}